* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    transition: .5s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    height: 100%;
}

body {
    color: white;
    background-color: black;
    height: 100%;
}

.main {
    position: relative;
    text-align: center;
    height: 100%;
}

.player {
    display: block;
}

.selector-label {
    display: inline-block;
}

.selector-box {
    width: 100%;
    padding: 10px;
}

.result-box {
    width: 100%;
    padding: 10px;
}

.selector-button {
    vertical-align: top;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: white;
    color: black;
    margin-top: 10px;
    transform: scale(1);
    animation: show 1s ease;
}

.selector-button:hover {
    transform: scale(1.01);
}

.selector-number {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: black;
    color: white;
    position: relative;
    line-height: 50px;
    margin-top: 10px;
    animation: show 2s ease;
}

.number-input-button {
    width: 50px;
    height: 100%;
    position: absolute;
    line-height: 45px;
    cursor: pointer;
}

#up {
    right: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0px;
}

#up:hover {
    /*background-color: #ffffff1f;*/
    background-image: linear-gradient(to right, black, #ffffff1f);
}

#down {
    left: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0px;
}

#down:hover {
    /*background-color: #ffffff1f;*/
    background-image: linear-gradient(to right, #ffffff1f, black);
}

#main-logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    background-image: url(images/rpwg.png);
    width: 50px;
    height: 50px;
    background-size: contain;
}

.result-label {
    border: 0px;
    text-align: center;
    font-size: 1.5em;
    background: transparent;
    color: white;
    width: 100%;
    height: 150px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

#head {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #1d1d1d;
}

#main-title {
    font-size: 4vw;
}

@keyframes show {
    0% {
        margin-top: 30px;
        opacity: 0.75;
    }
    100% {
        margin-top: 10px;
        opacity: 1;
    }
}

#toast {
    position: absolute;
    bottom: 100px;
    background-color: #111;
    font-size: 20px;
    padding: 10px;
    height: 50px;
    border-radius: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    opacity: 0;
    animation-fill-mode: forwards;
    animation: popup 5s ease;
}

#refresh:active {
    opacity: .75;
}

@keyframes popup {
    0% {
        opacity: 0.75;
        transform: scale(.75);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.5);
    }
}

@media only screen and (min-width: 1000px) {
    #main-title {
        font-size: 50px;
    }
}